.banner{
    height: 256px;
    background-color: #F4F0F8;
    display: table;
    text-align: center;
}
.text-banner{
    display: table-cell;
    vertical-align: middle;
}
.p-banner{
    color: #6D6E76;
}
.contact{
    margin: 35px auto;
    background-color: #730909;
}
.formulaire{
    margin: 35px auto;
}
.button{
    margin-top: 15px;
    height: 50px;
    background-color: #730909;
    color: white;
    border: none;
    font-family: sen, sans-serif;
    font-weight: bold;
}
.nos-Adresses{
    padding-left: 10%;
    padding-top: 22px;
    color: #C79D9D;
    font-family: Inter, sans-serif;
    font-size: 13px;
}
.contactez-nous{
    padding-right: 10%;
    padding-top: 22px;
    color: #C79D9D;
    font-family: Inter, sans-serif;
    font-size: 13px;
}
hr{
    width: 90%;
    color: white;
}
.h6-contact{
    color: white;

}
