.banner{
    height: 256px;
    background-color: #F4F0F8;
    display: table;
    text-align: center;
}
.text-banner{
    display: table-cell;
    vertical-align: middle;
}
.contact{
    margin: 35px auto;
}
.kk{

}
.gg{
    background-color: red;
}
.bb{
    background-color: green;
}
