.banner{
    height: 256px;
    background-color: #F4F0F8;
    display: table;
    text-align: center;
}
.text-banner{
    display: table-cell;
    vertical-align: middle;
}
.contact{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkturquoise;
    width: 75%;
    height: 240px;
}
