body{
    font-family: Inter, sans-serif;
    font-size: 16px;
}
a{
    text-align: center;
    justify-content: center;
}
.header{
    background-color: #232536;
    height: 80px;
}
.background-Navbar{
    background-color: #232536;
}
.content-center{
    text-align: center;
    justify-content: center;
}.textNav-bar{
     color: white;
 }
.textNav-bar:hover{
    color: white;
    background-color: #232536;
}
.textNav-bar:focus{
    color: white;
    background-color: #232536;
}
.ButtonNavbar{
    background: transparent;
    border: transparent;
}
.dropdown-menu{
    border-color: white;
}
.footer-Navbar{
    position: relative;
    bottom: 2px;
}
.mention-legales{
    text-decoration: none;
    text-align: end;
    justify-content: end;
}